<%- include header%>
    <%=error%>
	<%=success%>
    <div class="reg">
   <form method="post" role="form">
  用户名：<input type="text" name="name" class="form-control"><br />
  密码：  <input type="password" name="password" class="form-control"><br />
         <input type="submit" value="登录" class="btn-success btn">
       <a href="reg" class="btn btn-success">注册</a>
</form>
   </div>
<%- include footer%>