<%- include header%>

<div class="nav_list">
    <ul>
        <li><div><a href="addmusic">上传音乐</a></div></li>
        <li><div><a href="">删除音乐</a></div></li>
        <li><div><a href="">垃圾箱</a></div></li>
        <li><div><a href="logout">退出登录</a></div></li>
    </ul>
</div>
<div class="music">
    <p>音乐列表</p>
</div>
<%- include footer%>