<%- include header%>
    <%=error%>
    <div class="reg">
    <form method="post" role="form">
  用户名：  <input type="text" name="name" class="form-control"><br />
  密码：    <input type="password" name="password"  class="form-control"><br />
  确认密码：<input type="password" name="password-repeat"  class="form-control"><br />
  手机：    <input type="text" name="tel"  class="form-control"><br />
           <input type="submit" value="注册" class="btn btn-success">
           <a href="login" class="btn btn-success">登录</a>
</form>
   </div>
<%- include footer%>