<%- include header%>

<div class="nav_list">
    <ul>
        <li><div><a href="addvideo">上传视频</a></div></li>
        <li><div><a href="">删除视频</a></div></li>
        <li><div><a href="">垃圾箱</a></div></li>
        <li><div><a href="logout">退出登录</a></div></li>
    </ul>
</div>
<div class="music">
    <p>视频列表</p>
</div>
<%- include footer%>